################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OSCARclient/bin/Debug
/OSCARclient/obj/x86/Debug
/.vs/OSCAR Surface Client Project/v15
/OSCARclient/bin
/OSCARclient/obj/x86/Release
